* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html{
    scroll-behavior: smooth;
    font-size: 100%;
}

body {
  background-color: #ffffff;
  color: #222;
}

/* Header */
.header {
  padding: 15px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.airbnb-icon {
  font-size: 100px;
  padding-bottom: 7px;
}

.title {
  font-size: 50px;
  font-weight: bold;
  padding-bottom: 5px;
}

/* Container */
.container {
  padding: 15px;
  padding-left: 120px;
}

h1 {
  font-size: 28px;
  margin-bottom: 20px;
}

/* Search Box */
.search-box {
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 30px;
  padding: 12px 15px;
  margin-bottom: 25px;
}

.search-icon {
  margin-right: 10px;
}

.search-box input {
  border: none;
  outline: none;
  width: 100%;
  font-size: 16px;
}

/* Tabs */
.tabs {
  display: flex;
  gap: 20px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 25px;
}

.tabs span {
  padding-bottom: 10px;
  color: #777;
}

.tabs .active {
  color: #000;
  font-weight: bold;
  border-bottom: 2px solid #000;
}

/* Button */
.login-btn {
  width: 100%;
  background-color: #e61e4d;
  color: white;
  border: none;
  padding: 15px;
  font-size: 18px;
  border-radius: 10px;
  margin-bottom: 30px;
}

/* Guides */
h2 {
  font-size: 22px;
  margin-bottom: 20px;
}

.list-item {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 15px 0;
}

.left-icon {
  width: 30px;
  height: 30px;
  border: 1px solid #000;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.list-item p {
  flex: 1;
  font-size: 17px;
}

.arrow {
  font-size: 26px;
  color: #777;
}

.divider {
  height: 1px;
  background-color: #e5e5e5;
  margin-left: 45px;
}


.container {
  padding: 20px;
}

/* Titles */
.section-title {
  font-size: 24px;
  margin: 25px 0 15px;
}

.subtitle {
  font-size: 16px;
  color: #555;
  margin-bottom: 20px;
}

/* Cards */
.card {
  display: flex;
  background: #1f1f1f;
  border-radius: 16px;
  overflow: hidden;
  margin-bottom: 15px;
}

.card img {
  width: 110px;
  object-fit: cover;
}

.card-text {
  padding: 16px;
  color: #fff;
}

.card-text h3 {
  font-size: 18px;
  margin-bottom: 6px;
}

.card-text p {
  font-size: 14px;
  color: #ddd;
}

/* Button */
.contact-btn {
  width: 100%;
  padding: 14px;
  font-size: 18px;
  border-radius: 12px;
  border: 1px solid #000;
  background: #fff;
  margin-bottom: 15px;
}

/* Feedback */
.feedback {
  font-size: 15px;
}

.feedback a {
  color: #000;
  font-weight: bold;
  text-decoration: underline;
}

/* Support */
.support {
  margin-top: 40px;
  padding-top: 20px;
  border-top: 1px solid #e5e5e5;
}

.support h4 {
  font-size: 16px;
  margin-bottom: 8px;
}

.support p {
  font-size: 15px;
}

footer {
  padding: 25px 20px;
  border-top: 1px solid #e5e5e5;
  color: #222;
}

/* Top Row */
.footer-top {
  display: flex;
  gap: 30px;
  align-items: center;
  margin-bottom: 25px;
}

.lang-currency {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
}

.rupee {
  font-size: 18px;
}

/* Social Icons */
.social-icons{
  display: flex;
  gap: 30px;
  font-size: 20px;
  margin-bottom: 25px;
  align-items: center;
}
.social-icons a{
  color:#000;
  font-size:22px;
  text-decoration:none;
}
.social-icons a :hover{
}

/* Copyright */
.copyright {
  font-size: 16px;
  margin-bottom: 15px;
}

/* Links */
.footer-links {
  display: flex;
  gap: 10px;
  font-size: 16px;
}

.footer-links a {
  text-decoration: none;
  color: #222;
}

.footer-links span {
  color: #777;
}